html, body, div, .class, .id, .ul, .li {
	padding: 0;
	margin: 0;
	vertical-align: 0;
	font-size: 100%;
}

.heading {
	background-image: url('img/food.jpeg');
	margin-top: 5rem;
	padding-bottom: auto;
	height: 10rem;
}