/* Browser Basic style */
html {
	padding: 0;
	margin: 0;
	vertical-align: baseline;
    letter-spacing: 1px;
   background-color: #000000;
    text-align: center;
    color: #ffffff;
}

/* Title & Such */
.nav {
	height: 5rem;
    color: #ffffff;
    background-color: DimGray;
}

.nav .content .links {
    float: right;
    cursor: pointer;
}

.nav .content li {
    display: inline-block;
    margin-left: 5rem;
    padding-right: 5rem;
    border-right: 1px solid #ffffff;
    border-spacing: 2px;
} 

.nav li:active {
    color: #4c5058;
}

.intro {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 48px;
    font-weight: 500;
    padding-top: 5rem;
}

.intro h1, .intro h6 {
    margin-top: -2.5rem;
}

/* Input Button */

.add-button {
    border-radius: 1px;
    font-family: 'Roboto', sans-serif;
}