body {
	margin: 0;
	padding: 0;
	height: 100%
	vertical-align: baseline;
	font-size: 100%;
}
.Shopping {
	background-image: url('img/food.jpeg');
	background-size: 100% 100%;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 5rem;
	color: #fff;
}
.text {
	text-align: center;
	background-color:;#A4775C
}
.List .Items {
	text-align: center;
	font-size: 1.235rem;
	background-color: #A4775C;
	color: #fff;
	margin-top: -0.15em;
	padding-top: -1.23rem;
	height: 15rem;
	line-height: 2.5rem;
}
.footy {
	text-align: center;
	background-color: #A4775C;
	height: 10rem;
	margin-top: -1.5rem;
	padding-top: 5rem;
	color: #fff
}